@model List<FormatModals.Student> 

<div class="mt-4">
    <h3>Top 3 Students</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Marks</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in Model)
            {
                <tr>
                    <td>@student.Name</td>
                    <td>@student.Percentage</td>
                </tr>
            }
        </tbody>
    </table>
</div>
