@{
    ViewData["Title"] = "Home Page";
}
@section Styles {
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
}
<div id="centerAll">
<div id="fullBox">
    <div id="beforeBox"><hr /></div>
    <div>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <div id="filebox">
                <div id="filelabel"><label for="file">CHOOSE A FILE:</label></div>
                <div id="fileInput"><input type="file" id="file" name="uploadedFile" /></div>
            </div>
            <div id="subButton"><button type="submit">Upload</button></div>
        </form>
    </div>
    <div id="afterBox"><hr /></div>
    <div id="statusBox"></div>
</div>
</div>
